* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0d705b;
  gap: 75px;
}
.drag {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  flex-wrap: wrap;
  gap: 5px;
  cursor: grab;
}
.drag .dragbox {
  position: relative;
  width: 75px;
  height: 78px;
  background: #4b4242;
}
.images {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--img);
  background-size: cover;
}
.reset {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 10px;
  border: none;
  background: #0a5a49;
  color: #b9b3b3;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  text-transform: uppercase;
}
.table {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7px;
}
.dropBox {
  position: relative;
  width: 100px;
  height: 104px;
  background: #12412d;
}

@media (max-width: 1024px) {
  .drag .dragbox {
    width: 66px;
    height: 68px;
  }
}

@media (max-width: 885px) {
  .drag .dragbox {
    width: 61px;
    height: 63px;
  }
  .dropBox {
    width: 80px;
    height: 83px;
  }
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
  }
  .reset {
    bottom: 30%;
  }
}

@media (max-width: 392px) {
  .drag .dragbox {
    width: 61px;
    height: 63px;
  }
  .dropBox {
    width: 70px;
    height: 73px;
  }
}
